In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("train_u6lujuX_CVtuZ9i (1).csv")
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [4]:
data['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [5]:
data['Gender'] = data['Gender'].fillna(data['Gender'].mode()[0])   
data['Married'] = data['Married'].fillna(data['Married'].mode()[0])
data['Self_Employed'] = data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])
data['LoanAmount'] = data['LoanAmount'].fillna(data['LoanAmount'].mean())
data['Loan_Amount_Term'] = data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mean())

In [6]:
value = data['Dependents'].value_counts().index[0]
data['Dependents'] = data['Dependents'].fillna(value)

In [7]:
data['Dependents'] = data['Dependents'].replace('3+','3')
data['Dependents']=data['Dependents'].astype('int64')

In [8]:
value = data['Credit_History'].value_counts().index[0]
data['Credit_History'] = data['Credit_History'].fillna(value)

In [9]:
data.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [10]:
data.drop('Loan_ID',axis=1,inplace=True)

In [11]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

In [12]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder
le = LabelEncoder()

In [13]:
data['Gender'] = le.fit_transform(data['Gender'])
data['Married'] = le.fit_transform(data['Married'])
data['Education'] = le.fit_transform(data['Education'])
data['Self_Employed'] = le.fit_transform(data['Self_Employed'])

In [14]:
oe = OrdinalEncoder(categories=[['Rural','Semiurban','Urban']],dtype='int') 
data['Property_Area'] = oe.fit_transform(data[['Property_Area']])

In [15]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,Y
1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,N
2,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,Y
3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,Y
4,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,Y

In [16]:
X = data.drop('Loan_Status',axis=1)
y = data['Loan_Status']

In [17]:
y.value_counts()

Loan_Status
Y    422
N    192
Name: count, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=25)

In [19]:
#Handle Embalanced Data with SMOTE
from imblearn.over_sampling import SMOTE
sm = SMOTE()
x_sm,y_sm = sm.fit_resample(X,y)
print(y_sm.value_counts())
xsm_train,xsm_test,ysm_train,ysm_test = train_test_split(x_sm,y_sm,test_size=0.2,random_state=24)

Loan_Status
Y    422
N    422
Name: count, dtype: int64

In [20]:
from sklearn.model_selection import cross_validate
from sklearn.metrics import accuracy_score

In [21]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(xsm_train,ysm_train)
#Cross Validation
val_result = cross_validate(rf,xsm_train,ysm_train)
val_result = val_result['test_score'].mean()
pred_test = rf.predict(xsm_test)
accuracy = accuracy_score(ysm_test,pred_test)

In [22]:
print('Cross Validation:',val_result)
print('Accuracy:',accuracy)

Cross Validation: 0.8074074074074075
Accuracy: 0.8402366863905325

Deployment

In [23]:
import joblib
joblib.dump(rf, "loan_model.pkl")
print("Model saved successfully!")

Model saved successfully!

In [24]:
import gradio as gr
import joblib
import pandas as pd

model = joblib.load("loan_model.pkl")

def predict_loan(Gender, Married, Dependents, Education, Self_Employed,
                 ApplicantIncome, CoapplicantIncome, LoanAmount,
                 Loan_Amount_Term, Credit_History, Property_Area):

    data = pd.DataFrame({
        "Gender": [0 if Gender=="Female" else 1],
        "Married": [1 if Married=="Yes" else 0],
        "Dependents": [int(Dependents)],
        "Education": [0 if Education=="Not Graduate" else 1],
        "Self_Employed": [1 if Self_Employed=="Yes" else 0],
        "ApplicantIncome": [ApplicantIncome],
        "CoapplicantIncome": [CoapplicantIncome],
        "LoanAmount": [LoanAmount],
        "Loan_Amount_Term": [Loan_Amount_Term],
        "Credit_History": [Credit_History],
        "Property_Area": [0 if Property_Area=="Rural" else 
                          1 if Property_Area=="Semiurban" else 2]
    })

    pred = model.predict(data)[0]
    return "Loan Approved üëç" if pred == "Y" else "Loan Not Approved üëé"


ui = gr.Interface(
    fn=predict_loan,
    inputs=[
        gr.Dropdown(["Male", "Female"], label="Gender"),
        gr.Dropdown(["Yes", "No"], label="Married"),
        gr.Dropdown(["0", "1", "2", "3"], label="Dependents"),
        gr.Dropdown(["Graduate", "Not Graduate"], label="Education"),
        gr.Dropdown(["Yes", "No"], label="Self Employed"),
        gr.Number(label="Applicant Income"),
        gr.Number(label="Coapplicant Income"),
        gr.Number(label="Loan Amount"),
        gr.Number(label="Loan Amount Term"),
        gr.Dropdown([0,1], label="Credit History"),
        gr.Dropdown(["Rural","Semiurban","Urban"], label="Property Area")
    ],
    outputs="text",
    title="Loan Prediction App"
)

ui.launch()

* Running on local URL:  http://127.0.0.1:7860
* To create a public link, set `share=True` in `launch()`.